@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&family=Nunito:wght@200;300;400;500&family=Source+Sans+Pro:wght@200;300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    transition: all .2s ease;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    font-size: 90%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 26, 63);
}

.container{
    min-width: 300px;
    height: 330px;
    border-radius: 5px;
    box-shadow: 3px 3px 50px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    scale: 110%;
}

.copy {
    min-width: 300px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(129, 88, 160);
    color: rgb(17, 9, 23);
    font-weight: 600;
    margin-bottom: 25px;
    scale: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.container .head {
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 0 0;
    place-self: center;
    background-color: rgb(129, 88, 160) ;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.generate-pass {
    height: 250px;
    width: 100%;
    background-color: rgb(129, 88, 160);
    color: rgb(33, 19, 44);
    padding: 10px;
    gap: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}

.password {
    width: 100%;
    height: 30px;
    background-color: rgb(47, 26, 63);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8px 3px;
    margin-block: 10px;
    color: white;
    font-weight: 400;
    gap: 10px;
}

.pass {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.password i {
    padding: 4px;
    border-radius: 3px;
    background-color: rgb(129, 88, 160);
}

.password i:hover {
    background-color: rgb(47, 26, 63);
    cursor: pointer;
}

.length input {
    width: 30px;
    height: 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 5px;
}

.btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    background-color: rgb(129, 88, 160);
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(47, 26, 63);
    color: white;
    cursor: pointer;
}

@media all and (max-width: 350px) {
    .container {
        scale: 100%;
    }
}